h1 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
  font-family: "Nunito Sans";
}

h2 {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins";
}

h3 {
  text-decoration: underline;
}

p {
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins", serif;
}

.container {
  border: 2px solid gray;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container .color {
  display: inline-block;
  width: 32%;
  text-align: center;
}

.container .text {
  display: inline-block;
  width: 34%;
}

.text p{
    margin-bottom: 5px;
}

#blue {
  background-color: #2d5dcc;
  color: white;
  margin-bottom: 20px;
}

#pink {
  background-color: #d957d9;
}

#green {
  background-color: #4fe0b0;
}

#beige {
  background-color: #efd9ca;
}

#source {
  font-family: "Source Code Pro", serif;
}

#nunito {
  font-family: "Nunito Sans", serif;
}

#poppins {
  font-family: "Poppins";
}

.bold{
    font-weight: bold;
    
}

.italic{
    font-style: italic;
}

.container h1{
    text-align: left;
}