h1{
    text-align: center;
    margin-bottom: 25px;    
}

p{
    font-weight: 400;
    font-size: 14px;
}

.container{
    border: 2px solid gray;
    padding:10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}

.container .color{
    display: inline-block;
    width: 32%;
    text-align: center;
}

#blue{
    background-color: #2d5dcc;
    color: white;
    margin-bottom: 20px;
}


#pink{
    background-color: #d957d9;
}

#green{
    background-color: #4fe0b0;
}

#beige{
    background-color: #efd9ca;
}